.box {
    border-bottom: solid 2px white;
   border-top: solid 2px white;
   width: 40%;
   height: 30px;
   margin: auto;
}

p {
    color: white;
    font-size: 25px;
    margin-top: 0;
    padding-top: 5%;
    text-align: center;
    font-weight: 300;
}

span {
    color: white;
    margin-left: 47%;
    font-size: 25px;
}

.uploadDiv{
    flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
margin-top: 3%;
}

.uploadInput{
    color:blanchedalmond;
    width: 10%;
    height: 50px;
}

.uploadBtn{
    width: 20%;
    height: 40px;
}

.readData{
    margin-top: "20px";
    width: 40%;
    height: 200px;
    border: solid 2px wheat;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:'Times New Roman', Times, serif
}

.electrateDiv{
    width:100%;
    display: flex;
    margin-top: -3%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}