html,body{
    font-family: 'Architects Daughter', cursive;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(12,12,14);
    background: radial-gradient(circle, rgba(12,12,14,1) 0%, rgba(18,18,23,1) 47%, rgba(75,74,80,0.9220063025210083) 100%);
}